.icons-sprite, .icons-head, .head {
  background-image: url('../images/icons-s7ab40a3ecf.png');
  background-repeat: no-repeat; }

.icons-head {
  background-position: 0 0; }

html, body {
  height: 100%; }

.head {
  background-position: 0 0;
  height: 160px;
  width: 208px;
  position: relative; }

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 200px 0 100px;
  background-color: black; }
