@import "compass/utilities/sprites";

@import "icons/*.png";

@include all-icons-sprites;

html, body {
    height: 100%;
}

.head {
    $height: icons-sprite-height(head);
    $width: icons-sprite-width(head);
    @include icons-sprite(head);
    height: $height;
    width: $width;
    position: relative;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px 0 100px;
    background-color: black;
}